.App {
  text-align: center;
}

.App-header {
  background-color: #212a3c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(208, 50, 132);
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

.App-link {
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 40px;
}
.App-link:hover {
  opacity: 0.5;
}

.Emoji {
  margin-left: 10px;
}

.Item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.Content-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 40px;
  width: 60%;
  min-height: 80%;
}
.HN-title {
  font-size: 1rem;
  color: #272e32;
  margin: 10px;
  text-align: left;
  text-decoration: none;
}
.HN-title:hover {
  opacity: 0.5;
}
.HN-author {
  font-size: 1rem;
  color: #2187b6;
  font-style: italic;
  margin: 0;
  margin-left: 10px;
}
.HN-author::before {
  content: 'by';
  margin-right: 5px;
  color: #272e32;
}

.HN-time {
  font-size: 0.9rem;
  font-weight: bold;
  color: #272e32;
  margin: 0;
  margin-left: 9px;
}

.HN-time::before {
  content: '|';
  margin-right: 10px;
  color: #fb619c;
}

.Subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* 
.HN-title::before {
  content: '📌';
  margin-right: 10px;
  color: #fb619c;
} */
